*/ {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.apply-page {
  background-color: #fff;
  width: 30rem;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 1rem;
}

.login-page {
  margin: 8rem auto;
}

.check {
  margin: 0 1rem;
}

.ask {
  text-align: center;
}

.important {
  text-align: start;

  background-color: rgb(229, 246, 253);
  padding: 1rem;
  display: flex;
  gap: 3rem;
  width: 25rem;
  margin: 1rem;
  position: relative;
}

.icon-apply {
  color: rgb(3, 169, 244);
  height: 2rem;
  width: 2rem;
  position: absolute;
  left: 1rem;
  padding-top: 1.3rem;
}

.text-descriptionn {
  font-size: 1.3rem;
  color: rgb(32, 9, 95);
}

.btn {
  margin: 1rem;
  width: 27rem;
  padding: 1rem;
  background-color: transparent;
  outline: 0;
  border: 0.5px solid;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(226, 223, 223);
}

.sign-up {
  text-decoration: none;
  color: #444;
  font-size: 1.2rem;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}

.sign--up {
  display: flex;
  height: 2rem;
  width: 2rem;
  right: 14rem;
  bottom: 14%;
}

.hidden-form {
  display: none;
}

.input {
  border: 0.5px solid;
  margin: 1rem;
  height: 0;
  padding: 1.5rem;
  width: 24rem;
  display: block;
}

.input:hover {
  border: 2px solid #000;
}

.register-btn {
  padding: 1rem 10rem;
  margin: 0 1rem;
  background-color: rgb(1, 1, 63);
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}

.register-btn:hover {
  background-color: rgb(1, 1, 26);
}

.login-btn {
  padding: 1rem 11.3rem;
}

.terms {
  font-size: 1.2rem;
  text-align: center;
}

.terms a {
  color: #555;
}

.terms a:hover {
  color: #000;
}

.border {
  text-align: center;
  font-size: 1.8rem;
}

.terms-link a {
  color: blue;
}

.terms-link {
  font-size: 1.5rem;
}
